<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a ng-href="/Home/Index#/customers">View All Customers</a></div>
                <div class="navbar-brand">
                    <a ng-href="/Home/Index#/preChatRequests">View Pre Chat Requests</a></div>
            </div>
        </div>
    </nav>
    <div ng-view></div>
</div>

